body {
  background: url(trees2.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.home h2 {
  text-align: left;
  margin-left: 10%;
  color: white;
  font-family: 'Signika', sans-serif;
  font-size: 3rem;
}

.topH2 {
  margin-bottom: 0;
}

.bottomH2 {
  margin-top: 0;
}

.home h3 {
  text-align: left;
  margin-left: 10%;
  color: #F6F6E9;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.25rem;
}

.home {
  margin-top: 15%;
}

.btnDiv {
  position:sticky;
  top: 50%;
  left: 10%;
  width: 120px;
  padding-top: 2%;
  cursor: pointer;
}

.btnDiv button {
  background-color: #9F8643;
  padding: .35rem;
  border-radius: 8px;
}

.about {
  color: white;
  font-size: 1.5rem;
  width: 75%;
  margin: auto;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.parkList {
  /* background: rgba( 255, 255, 255, 0.45 ); */
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  width: 70%;
  margin: auto;
  /* border-radius: 10px; */
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  /* padding: 10px; */
  /* margin: 10px auto; */
  /* font-family: 'Grape Nuts', cursive; */
  /* font-family: 'Architects Daughter', cursive; */
  /* font-size: large; */
  /* padding: 0 15px 15px; */
}

.listH2 {
  color: white;
}

.indivPark {
  backdrop-filter: blur( 65px );
  -webkit-backdrop-filter: blur( 8px );
  width: 70%;
  margin: auto;
  padding: 0 15px 15px;
}

.indivPark h2{
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-ul{
  list-style: none;
  display:flex;
  margin: 25px;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.item {
  display: flex;
}

li {
  margin: 0 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.logo {
  margin-left: 1rem;
}

.login a {
  color: black;
}

.parkList .singlePark a{
  color: purple
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}